button#dropdown-profile__BV_toggle_ {
    background: $root-red;
    border: none;

    span {
        padding-right: 5px;
    }
}

button#dropdown-lang__BV_toggle_ {
    background: $root-red;
    border: none;

    span {
        padding-right: 5px;
    }
}